/* VARIABLES                            */

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}




















/* GLOBALS                           */


@font-face {
    src: url(../refs/font/spacegrotesk-bold.woff2);
    font-family: 'space_groteskregular';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
 -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

li {
    list-style: none;
}
















/* BODY                                   */

body {
 font-family: 'space_groteskregular', sans-serif;
 font-size: 1rem;
 font-weight: 400;
 line-height: 1.5;
 color: #212529;
 overflow-x: hidden;
 background-color: #fff;
 z-index: -999;
}

.body {
 height: 100%;
 width: 100vw;
 overflow: hidden;
}

.body.dark {
 background-color: #090522;
 z-index: -999;
}

.container {
    display: grid;
    place-items: center;
    padding: 0 2rem;
}

.row {
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 0 2rem; */
}


h1 {
 font-weight: bold;
 font-size: 2.5rem;
 line-height: 3.5rem;
 margin-bottom: 20px;
}

.body.dark h1 {
    color: white;
}

@media (min-width: 768px) {
 h1 {
  font-size: 4rem;
  line-height: 5rem;
 }
}


h2 {
 font-size: 40px;
 line-height: 40px;
 color: #151D41;
 margin-bottom: 15px;
}

.body.dark h2 {
    color: white;
}

h4 {
 font-weight: 500;
 font-size: 20px;
 line-height: 34px;
 opacity: 0.5;
}

.body.dark h4 {
    color: white;
}

.cbtn {
 display: inline-block;
 padding: 13px 25px;
 background: #000;
 color: #fff;
 font-size: 16px;
 font-weight: 700;
 font-size: 16px;
 line-height: 16px;
 text-transform: capitalize;
}

a.cbtn.emergency_btn {
 background: #fff;
 text-align: center;
 color: #EB4559;
 border-radius: 30px;
 border: 1px solid #EB4559;
 box-shadow: 0px 20px 50px rgba(235, 69, 89, 0.1);
 padding: 16px 30px;
 transform: translateY(0px);
 transition: all .5s;
}

a.cbtn.emergency_btn:hover {
 background: #EB4559;
 color: #fff;
 transform: translateY(-5px);
 transition: all .5s;
}