.header__area {
 padding: 1rem 0;
 background-color: transparent;
}


.header__area.header__absolute {
 position: absolute;
 /* background-color: #fff; */
 width: 100%;
 z-index: 99;
}

.header__area.header__sticky {
 position: fixed;
 width: 100%;
 top: 0;
 left: 0;
 box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
 background-color: #fff;
}

.body.dark .header__area.header__sticky {
    background-color: #0B043B !important;
}


.header__area .row {
 width: 100%;
}














/* LOGO                                                  */
.header__logo a {
    display: flex;
    align-items: center;
}

.header__logo__image {
    width: 2.25rem;
}


.header__logo__text {
    color: #151D41;
    background-color: transparent;
    font-size: 1.75rem;
    font-weight: 700;
    margin-left: 0.5rem;
}

.body.dark .header__logo__text {
    color: white;
}




/* HAMBURGER                                             */

.menu {
    display: flex;
    align-items: center;
}

.stellarnav .menu__toggle span.bars {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 3px;
    cursor: pointer;
}

.stellarnav.light .menu__toggle span.bars span {
    background: #000;
}

.stellarnav .menu__toggle span.bars span {
    display: block;
    width: 1.75rem;
    height: 3.25px;
    border-radius: 999px;
    background: #151D41;
    margin: 0 0 3px;
}

.body.dark .stellarnav .menu__toggle span.bars span {
    background-color: #fff;
}

.stellarnav .menu__toggle.open span.bars span:first-child {
    transform: rotate(45deg) translate(5px, 3.5px);
}

.stellarnav .menu__toggle.open span.bars span:nth-child(2) {
    opacity: 0;
}


.stellarnav .menu__toggle.open span.bars span:last-child {
    transform: rotate(-45deg) translate(5px, -3.5px);
}


/* NAVBAR LISTS                                            */

.navclass {
    position: fixed;
    top: 5rem;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    max-width: 280px;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 0;
    background-color: #fff;
    transform: translateX(100%);
}

.body.dark .navclass.open {
    background-color: #0B043B !important;
}

.navclass.open {
    opacity: 1;
    transform: translateX(0);
}

.stellarnav li li {
    display: block;
}

.stellarnav li {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    line-height: normal;
}

.dd__toggle .icon__plus {
    position: relative;
    width: 12px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.stellarnav li a {
    padding: 15px;
    display: block;
    color: #51587B;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.body.dark .stellarnav li a {
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
}
.main__menu li a:hover, .main__menu li.current a {
    color: #EB4559;
}
.body.dark .main__menu li a:hover,
.body.dark .main__menu li.current a {
    color: #3A3ACC;
}





/* DD TOGGLE                                               */

.stellarnav a.dd__toggle {
    position: absolute;
    top: 0;
    right: 1rem;
    padding: 0;
    width: 48px;
    height: 48px;
    text-align: center;
    z-index: 9999;
    border: 0;
    transform: rotate(0deg);
}

.stellarnav ul ul li{
    height: 0px;
    z-index: -999;
    transform: translateY(-50%) rotateX(45deg);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.stellarnav ul ul.open li{
    height: 100%;
    z-index: 999;
    transform: translate(0);
    opacity: 1;
}

.stellarnav ul ul.open li a{
    transition: all 0.5s ease-in-out;
}

.stellarnav ul ul.open li:hover a{
    transform: translateX(1rem);
    color: white;
}

.stellarnav ul ul.open li:hover a{
    background-color: #EB4559;
    color: white;
}

.body.dark .stellarnav ul ul.open li:hover a{
    background-color: #3A3ACC;
    color: white;
}


.dd__toggle.close .icon__plus::before {
    transform: rotate(315deg);
}
.dd__toggle.close .icon__plus::after {
    transform: rotate(225deg);
}




.stellarnav li > a.dd__toggle {
    padding: 0;
}

.dd__toggle .icon__plus::before {
    content: '';
    display: block;
    width: 12px;
    height: 0px;
    border-bottom: solid 2px #151D41;
    position: absolute;
    top: 50%;
    transform: rotate(90deg);
    transition: all 0.3s;
}

.dd__toggle .icon__plus::after {
    content: '';
    display: block;
    width: 12px;
    height: 0px;
    top: 50%;
    border-bottom: solid 2px #151D41;
    position: absolute;
    transition: all 0.3s;
}

.body.dark .dd__toggle .icon__plus::before,
.body.dark .dd__toggle .icon__plus::after {
    border-bottom: 2px solid white;
}